.submit {
  font-size: 1rem;
  width: 100%;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin-top: 1rem;
  border-radius: 0.12em;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  height: 3rem;
  text-align: center;
  transition: all 0.2s;
  background-color: #000000;
  cursor: pointer;
}

#erase-btn,
#copy-btn {
  background-color: var(--bg);
  border: none;
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#erase-btn {
  top: 0;
  bottom: unset;
}
#erase-btn:hover,
#copy-btn:hover,
button:hover {
  color: orange;
  border-color: orange;
}
#erase-btn:disabled,
#copy-btn:disabled,
button:disabled {
  /* .submit:disabled,
#copy-btn:disabled { */
  background-color: var(--bg);
  color: grey;
  border-color: grey;
  cursor: auto;
}

button:disabled:hover {
  color: grey;
  border-color: grey;
}

.circle-wrapper {
  display: block;
  margin: auto;
  text-align: center;
}
.fa-circle-down {
  font-size: 2rem;
}
