#toggle {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 1.2em;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  background: none;
  margin: auto;
}

#toggle:hover {
  color: orange;
}

#copy-btn {
  background: none;
  border: none;
  margin: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
}
