.forms-wrapper {
  display: flex;
  flex-direction: column;
  outline: 3px solid white;
  border-radius: 10px;
}

.input-wrapper {
  display: flex;
  flex: 1;
  gap: 2rem;
}

.switch-btn-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.result-wrapper {
  position: relative;
}

textarea,
#result {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  color-scheme: dark;
  background-color: var(--bg);
  flex: auto;
  text-indent: 0.5rem;
  inline-size: 200px;
  overflow-wrap: break-word;
  overflow-y: scroll;
  height: 20vh;
}
