@media (min-width: 750px) {
  .body {
    font-size: 22px;
  }

  main {
    max-width: none;
    gap: 3rem;
  }

  .forms-wrapper {
    flex-direction: row;
  }

  textarea,
  #result {
    height: 30vh;
    min-width: 300px;
    max-width: min-content;
  }

  h1 {
    font-size: 3rem;
  }

  #copy-btn {
    font-size: 1.2rem;
  }
}
