@import "./variables.css";
@import "./btn.css";
@import "./form.css";
@import "./header-footer.css";
@import "./media.css";

body {
  margin: auto;
  color: #fff;
  background-color: var(--bg);
  font-size: 20px;
  font-family: "Arvo", serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 1000px;
  box-sizing: border-box;
}

main {
  /* max-width: 500px; */
  margin: auto;
  margin-top: 0;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
}
p {
  margin: 0.5rem auto;
}

img {
  max-width: 100%;
}
.img-wrapper {
  margin: auto;
}

#result {
  border: 3px solid white;
  font-size: 1rem;
  overflow-wrap: break-word;
  word-break: break-all;
  height: 150px;
  overflow-y: scroll;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}

.decrypt-link {
  margin: 2rem auto;
  display: block;
  text-align: center;
}
.inline-link {
  text-decoration: underline;
  color: orange;
  cursor: pointer;
}
